.chartRoot {
  padding: 8px 24px;
  position: relative;
}
.chartContainer {
  padding-top: 40px;
  background-color: #292f3b;
  position: relative;
  border-radius: 8px;
}
.toolBar {
  position: absolute;
  top: 0px;
  height: 40px;
  align-items: center;
  display: flex;
  padding: 0 12px;
  width: calc(100% - 40px);
  justify-content: space-between;
}
.buttons {
  display: flex;
}
button {
  display: block;
  background-color: #696D75;
  color: white;
  border: 1px solid gray;
  outline: none;
  border-radius: 2px;
  padding: 3px 6px;
  margin: 2px;
  cursor: pointer;
}
button.active {
  background-color: #9B88AA;
}
.mL24 {
  margin-left: 24px;
}
.statusInfo {
  display: flex;
  color: white;
}
.statusInfo>p{
  padding: 8px;
}
.bar {
  fill: darkgray;
}
.bar:hover {
  fill: gray;
}