.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.taCenter {
  text-align: center;
}

.export-csv {
  display: block;
  text-decoration: none;
  background-color: #696D75;
  color: white;
  border: 1px solid gray;
  outline: none;
  border-radius: 2px;
  padding: 3px 6px;
  margin: 2px;
  cursor: pointer;
  width: fit-content;
}

.tableContainer {
  padding: 12px;
  display: flex;
  flex-flow: column;
  align-items: flex-end;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
